/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Basic:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:wght@100;300;400;500&display=swap');

*{
box-sizing: border-box;
margin: 0;
padding: 0;
}

/* Global Styles */
:root{
    --primary-color:#09c0ee;
    --secondary-color:#f4e6f6;
    --font-light: #808080;
    --other-color:#063c49;
}

body {
    font-family:'Gentium Book', Poppins, sans-serif;
    background-color: #f8f8ff;
}

h2{
  font-family: 'Gentium Book Basic';
  text-align: center;
  font-weight: 500;
  font-size: 2rem;
  }
  
  p {
  color: var(--font-light);
  font-family: Poppins;
  font-weight: 400;
  font-size: 1em;
  line-height: 2em;
  padding: 0px 20px 0px 20px;
  margin-bottom: 1.125em;
  }

.navbar{
  background-color: var(--other-color);
  color: #fff;
  justify-content: space-between;
  position: sticky;  
  top: 0;
  display: flex;
  z-index: 100; 
  }

.navbar-menu{
 display: flex;
 align-itemS: center;
 font-size: 20px;
 font-family: 'Gentium Book Basic';
 text-align: left;
 padding-right: 25px;
  }

.nav-list{
list-style-type: none;
}
    
.nav-list .nav-links{
display: inline-block;
padding: 20px 10px;
}
    
.navbar a{
color: #fff;
text-decoration: none;
}
    
.navbar a:hover{
color: #bebebe;
transition: ease-in 300ms;
 }     
 
.navbar img{
  width: 170px;
  height: 150px;
  margin-left: 25px;
}

.menu{
  display: none;
  }
  
 .menu-line{
  width: 20px;
  height: 3px;
  background-color: #fff;
  margin-bottom: 4px;
  }

/* Hero image section */

#hero-section{
background: url(../images/hero-horse-riding2.png) no-repeat center center;
background-size: cover;
background-color: var(--secondary-color);
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}



#hero-section h1{
font-family: 'Gentium Book Basic';
color: #fff;
margin-bottom: 0.5em;
}

.hero-container {
  text-align: center;
 }

.book-btn{
  color: #f8f8ff;
  background-color: #18191a;
  text-decoration: none;
  padding: 0.7em 1em;
  border-radius: 8px;
 
}

a.book-btn{
  margin-left: 16rem;
}

.book-btn:hover {
  background-color: #f8f8ff;
  color: #18191a;
  transition: ease-in 300ms;
  }
  
  /* Welcome & about us section*/   

  #about-section{
  width: 100%;
  height: 350px;
  margin-top: 30px;
  } 

.about-content{
  text-align: center;
  }
  
  .about-content span.quote{
  font-style: italic;
  text-align: left;
  font-family: Gentium Book Basi;
  color: var(--font-light);
  font-size: 1.2em;
    }
  
        
 /*Banner cros page info */
.banner{
background-color: #277487;
width: 100%;
height: 300px;
margin-bottom: 50px;
}

.top-banner .banner{
background-color: #1c5c6c;
width: 100%;
height: 150px;
}

.banner .title{
  color: #fff
  }
  
  .fa-circle-check{
  color: #fff;
  font-size: 1.25em
  }
  
  h2.title{
  font-size: 24px;
  color:var(--font-light);
  padding-top: 15px;
  }
  
  p.title{
  color: var(--font-light);
  font-size: 18px;
  font-family:'Poppins';
  padding-top: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
  }
  
  .title strong{
  color: var(--primary-color);
  font-weight: 300;
  line-height: 22px;
  } 
  
  .title a{
  color: #fff;  
  }
  
/* --Video beginner section */

section.vi-section {

  /* padding: left 100ppx; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.beginner-container{
flex: 1 1 55%;
flex-wrap: wrap;
max-width: 660px;
margin: 2.5em;
margin-top: 80px;
  }
  
.video{
position: relative;
padding-bottom: 56.25%;
height: 0;
}
  
  
  .video iframe{
    border: 5px solid black;
    border-color: var(--other-color);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

/* Community section */
  
  .community{
    background: url(../images/Pony-Day-The-Grove.png) no-repeat center center;
    background-size: cover;
    height: 550px;
    text-align: center;
      }

    .community h2{
    color: #fff;
     }

    .community p{
     color: #fff; 
    } 

    .community a{
     color:#fff;
    text-decoration:underline;
    }
    
    /* End of the index page 
    =============================
    

    /* Booking page */

    .container-booking{
      width: 90%;
      margin: 0 auto;
       }
        
      .booking{
      box-shadow: 0px 5px 13px -3px rgba(0,0,0,0.75);
      display:flex;
      flex-wrap: wrap;
           
      }
        
      .descrip, .form{
      width: 45%;
      padding: 5%;
      }
       
      .descrip h2{
      text-transform:uppercase;
      color: var(--font-light);
      font-weight: 400;
      margin-top: 0;
      }
        
      .descrip h2 strong{
      font-weight: 700;
      color: #000;
      }
        
      .descrip p{
      color: var(--font-light);
      font-size: 14px;
      line-height: 22px;
      }
        
      .descrip ul{
      padding-left: 16px;
      list-style: circle;
      }
       
      .fa-phone{
      color: #e24e71;
      font-size: 1.25em
       }
      .fa-envelope{
      color: #e24e71;
      font-size: 1.25em
      }
      
      .fa-mailbox{
      color: #e24e71;
      font-size: 1.25em
      }
      
      .fa-address-card{
      color: #e24e71;
      font-size: 1.25em
      }
      
      .quote p{
      font-style: italic;
      padding: 2%;
      border-left: 4px solid var(--primary-color);
      }
        
      .descrip ul li {
      margin: 10px 0;
      }
          
      .form{
       background: var(--secondary-color);
    
    }
        
      .form form{
      color: var(--font-light);
      display: flex;
      flex-wrap: wrap;
      }
        
      .inpbox.full{
      width: 100%;
      background: #fff;
      padding: 3%;
      margin-bottom: 20px;
      display: flex;
      flex-wrap: wrap;
      }
      
      label{
      color:var(--font-light);
      font-family: 'sans-serif';
      font-size: 1rem;
      width: 150px;
      }
           
      .form select{
      border-bottom: 1px;
      width: 48%;
      color: var(--font-light);
      padding: 0 4%;
      }
        
      form select:focus, .form input:focus{
      outline: none;
      }
        
      .inpbox{
      width: 48%;
      background: #ffff;
      padding: 3%;
      margin-bottom: 20px;
      margin-right: 2%;
      }
        
      .inrbox{
      width: 33%;
      color: #000;
      }
      
      .inrbox h3{
      font-size: 1.4rem;
       }
      .inrbox label{
       text-transform: uppercase;
       font-size: 0.9rem;
      padding-right: 8px;
      }
          
      .inrbox span{
      border: 0;
      font-size: 14px;
      padding-right: 5px;
      }
        
      .form input[type="radio"]{
      width: unset;
      }
        
      button.sub, button.reset{       
      padding: 2% 3%;
      font-weight: 700;
      text-transform: upercase;
      border: 0;
      }
        
      button.sub{
      margin-right: 3%;
      background: var(--primary-color);
      border: none;
      color: black;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      }
          
      button.reset{
      background: #000;
      color: #fff;
      border: none;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      }
      
    














 /* Footer section */
 footer {
  height: 150px;         
  background-color: var(--other-color);
  }
  
  .copyright {
  margin-top: 20px;
  text-align: center;  
  }
  .copyright h3 {
  font-family: 'sans-serif'; 
  font-size: 16px; 
  padding:10px 0 0 1px;
  font-weight:400;
  color: #fff;
  }
  
  .copyright p{
  font-size: 13px;
  padding: 1px;
  color: #fff;
  margin: 0;
  }
  ul .social-networks{
  margin-top: 0;
  }
  .social-networks {
  text-align:center;
  margin-top: 1px;             
  }
  
  .social-networks > li {
  display: inline;       
  }
  .social-networks i {
  font-size: 135%;
  margin: 1%;
  padding: 1%;
  color: #f7f6f6;
  }
  
  
















  





@media screen and (max-width: 480px) {

  .navbar{
    flex-direction: column;
    position: relative;
    }

  .navbar .branding{
    width: 100%;
     }

  .menu {
    display: block;
    position: absolute;
    right: 15px;
    top: 15px;
}
.nav-list{
  list-style-type: none;
  width: 100%;
  text-align: center;
  padding-top: 10px;
  
  
}
.nav-list .nav-links{
  display: block;
  border-top: 1px solid #fff;
}
.logo{
  margin-top: 10px;
  margin-left: 10px;
  }
  .active{
    display: block;
}

#hero-section h1{
font-size: 18px;
text-align: center;
}

a.book-btn{
  display: none;
  }

.about .about-content{
  height: auto;
}
  .about-content h2{
    font-size: 22px;
  }
  .about-content p{
    font-size: 12.8px;
  }
  strong{
    font-size: 12px;
  }

  p.title{
    font-size: 12px;
  }
 h2.title{
font-size: 18px;

 }

.top-banner .banner{
height: auto;
  }

section .banner{
  height: auto;
}

.community h2{
  font-size: 22px;
}
.community p{
  font-size: 12px;
}

/* booking page */

.booking{
  display:block;
  flex-direction: column;
}

.descrip, .form{
  width: 100%
  }

.descrip p{
 font-size: 10px; 
}

.descrip ul li{
  font-size: 10px; 
}
  .inrbox label{
  font-size: 10px;
  }
  .inrbox h3{
    font-size: 12px;
  }

.inrbox span{
font-size: 10px;
}
  
.form select {
font-size: 10px;
}

label{
  font-size: 12px;
}
input{
  font-size: 10px;
}


 button.sub, button.reset{       
 padding: 1% 2%;
 font-size:10px;
 
 }

.inrbox span {
font-size: 10px
}
.copyright h3{
  font-size: 12px;
}
.copyright p{
  font-size: 10px;
}

.social-networks{
  font-size: 50%;
}

}
