/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Basic:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:wght@100;300;400;500&display=swap');

*{
box-sizing: border-box;
margin: 0;
padding: 0;

}

/* Global Styles */
:root{
    --primary-color:#00c0ee;    
    --secondary-color:#f4e6f6;
    --font-light: #808080;
    --other-color:#063c49;
}

body {
    font-family:'Gentium Book', Poppins, sans-serif;
    
}

h2{
  font-family: 'Gentium Book Basic';
  text-align: center;
  font-weight: 500;
  font-size: 2rem;
  }
  
  p {
  color: var(--font-light);
  font-family: Poppins;
  font-weight: 400;
  font-size: 1em;
  line-height: 2em;
  padding: 0px 20px 0px 20px;
  margin-bottom: 1.125em;
  } 

 .navbar{
  background-color: var(--other-color);
  color: #fff;
  justify-content: space-between;
  top: 0;
  display: flex;
  }

.navbar-menu{
 display: flex;
 align-itemS: center;
 font-size: 20px;
 font-family: 'Gentium Book Basic';
 text-align: left;
 padding-right: 25px;
  }

.nav-list{
list-style-type: none;
}
    
.nav-list .nav-links{
display: inline-block;
padding: 20px 10px;
}
    
.navbar a{
color: #fff;
text-decoration: none;
}
    
.navbar a:hover{
color: #bebebe;
transition: ease-in 300ms;
 }     
 
.navbar img{
  width: 170px;
  height: 150px;
  margin-left: 25px;
}

.menu{
  display: none;
  }
  
 .menu-line{
  width: 20px;
  height: 3px;
  background-color: #fff;
  margin-bottom: 4px;
  }

/* Hero image section */

#hero-section{
 background: url(../images/hero-horse-riding2.png) no-repeat center center;
 background-size: cover;
 height: 100vh;
 display: flex;
 justify-content: center;
 align-items: center;
} 

#hero-section h1{
 font-family: 'Gentium Book Basic';
 color: #fff;
 margin-bottom: 0.5em;
}

.hero-container {
  text-align: center;
 }

.book-btn{
  color: #f8f8ff;
  background-color: #18191a;
  text-decoration: none;
  padding: 0.7em 1em;
  border-radius: 8px;
 }

a.book-btn{
  margin-left: 16rem;
}

.book-btn:hover {
  background-color: #f8f8ff;
  color: #18191a;
  transition: ease-in 300ms;
  }
  
  /* Welcome & about us section*/   

 #about-section{
  width: 100%;
  height: 350px;
  margin-top: 30px;
  } 

.about-content{
  text-align: center;
  }
  
 .about-content span.quote{
  font-style: italic;
  text-align: left;
  font-family: 'Gentium Book Basic';
  color: var(--font-light);
  font-size: 1.2em;
  }
  
        
 /*Banner cros page info */
.banner{
 background-color: #277487;
 width: 100%;
 margin-bottom: 50px;
} 

.top-banner .banner{
 width: 100%;
 height: 150px;
}

.banner .title{
 color: #fff
 }
  
.fa-circle-check{
 color: #fff;
 font-size: 1.23em
 }
  
h2.title{
 font-size: 24px;
  padding-top: 15px;
  }
  
p.title{
 color: var(--font-light);
 font-size: 16px;
 font-family:'Poppins';
 padding-top: 5px;
 margin-top: 5px;
 margin-bottom: 10px;
 }
  
.title strong{
 color: #fff;
 font-weight: 300;
 line-height: 22px;
 } 
  
.title a{
 color: #fff;  
 }
  
/* --Video beginner section */

section.vi-section {
 display: flex;
 justify-content: center;
 align-items: center;
}

.beginner-container{
 flex: 1 1 55%;
 flex-wrap: wrap;
 max-width: 700px;
 margin: 2.5em;
 margin-top: 80px;
 }
  
.video{
 position: relative;
 padding-bottom: 56.25%;
 height: 0;
}
  
.video iframe{
 border: 3px solid #fff;
 border-color: #ad773e;
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
}

#first-video{
 transform: scale(1.2);
 transition: ease 100ms;
 transition: transform .2s;
 margin-bottom: 50px;
}

section .banner{
 width: 100%;
 padding-bottom: 15px;
 height: auto;
}

/* Community section */
  
.community{
 background: url(../images/Pony-Day-The-Grove.png) no-repeat center center;
 background-size: cover;
 height: 550px;
 text-align: center;

  }

 .community h2{
  color: aquamarine;
  }

.community p{
 color: aquamarine; 
 } 

.community a{
 color:#fff;
 text-decoration:underline;
 }
    
 /* Booking & Contact page */

.container-booking{
 width: 90%;
 margin: 0 auto;
  }
        
.booking{
 box-shadow: 0px 5px 13px -3px rgba(0,0,0,0.75);
 display:flex;
 flex-wrap: wrap;
  }
        
.descrip, .form{
 width: 45%;
 padding: 5%;
 }
       
.descrip h2{
 text-transform:uppercase;
 color: var(--font-light);
 font-weight: 400;
 margin-top: 0;
 }
        
.descrip h2 strong{
 font-weight: 700;
 color: #000;
 }
        
.descrip p{
 color: var(--font-light);
 font-size: 14px;
 line-height: 22px;
 }
        
.descrip ul{
 padding-left: 16px;
 list-style: circle;
 }
       
.fa-phone{
 color: #a77037;
 font-size: 1.25em
 }

.fa-envelope{
  color: #ad773e;
  font-size: 1.25em
  }
      
.fa-mailbox{
 color: #ad773e;
 font-size: 1.25em
  }
      
.fa-address-card{
 color: #ad773e;
 font-size: 1.25em
 }
      
.quote p{
 font-style: italic;
 padding: 2%;
 border-left: 4px solid var(--primary-color);
 }
        
.descrip ul li {
 margin: 10px 0;
   }
          
.form{
  background: var(--secondary-color);
   }
        
.form form{
 color: var(--font-light);
 display: flex;
 flex-wrap: wrap;
  }
        
.inpbox.full{
 width: 100%;
 background: #fff;
 padding: 3%;
 margin-bottom: 20px;
 display: flex;
 flex-wrap: wrap;
      }
          
label{
 color:var(--font-light);
 font-family: 'sans-serif';
 font-size: 1rem;
 width: 150px;
      }
           
.form select{
  border-bottom: 1px;
  width: 48%;
  color: var(--font-light);
  padding: 0 4%;
    }
        
form select:focus, .form input:focus{
  outline: none;
    }
        
.inpbox{
  width: 48%;
 background: #ffff;
 padding: 3%;
 margin-bottom: 20px;
 margin-right: 2%;
      }
        
.inrbox{
 width: 33%;
  color: #000;
      }
      
.inrbox h3{
  font-size: 1.4rem;
  }

.inrbox label{
  text-transform: uppercase;
  font-size: 0.9rem;
  padding-right: 8px;
      }
          
.inrbox span{
  border: 0;
 font-size: 14px;
 padding-right: 5px;
   }
        
.form input[type="radio"]{
 width: unset;
      }
        
button.sub, button.reset{       
 padding: 2% 3%;
 font-weight: 700;
 text-transform: uppercase;
 border: 0;
   }
        
button.sub{
 margin-right: 3%;
 background: var(--primary-color);
 border: none;
 color: black;
 padding: 15px 32px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 16px;
      }
          
button.reset{
 background: #000;
 color: #fff;
 border: none;
 padding: 15px 32px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 16px;
      }
  
/*Booking confirmaiton page*/

 .bconfirm{
  width: 100%;
  height: 490px;
  }

  .bconfirm p{
  text-align: center;
  }
  
  .book-confirm{
  text-align: left;
  width: 500px;
  padding-left: 10px;
  }
  
  .book-confirm p{
  font-family: 'Poppins';
  text-align: left;
  font-weight: 300;
  margin: 0;
  padding: 0;
  font-size: 14px;
  }
  
  .book-confirm h3{
  text-align: left;
  font-weight: 400;
  font-family: 'Gentium Book Basic';
  } 
  

/*Gallery of  Memories*/

  .memories h2{
  font-size: 2rem;
  font-family:'Gentium Book Basic';
  text-align: center;
  padding: 2%;
   }
        
  .images-gallery{
   width: 80%;
   margin: 100px auto 50px;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
   grid-gap: 30px; 
    }
                      
   .images-gallery img{
    width: 100%;
    cursor: pointer;
     }
        
  .images-gallery img:hover{
    transform: scale(1.5);
    transition: ease 100ms;
    transition: transform .2s;
  } 
       

 /* Footer section */
 footer {
  height: 150px;         
  background-color: var(--other-color);
  }
  
  .copyright {
  margin-top: 20px;
  text-align: center;  
  }
  .copyright h3 {
  font-family: 'sans-serif'; 
  font-size: 16px; 
  padding:10px 0 0 1px;
  font-weight:400;
  color: #fff;
  }
  
  .copyright p{
  font-size: 13px;
  padding: 1px;
  color: #fff;
  margin: 0;
  }
  ul .social-networks{
  margin-top: 0;
  }
  .social-networks {
  text-align:center;
  margin-top: 1px;             
  }
  
  .social-networks > li {
  display: inline;       
  }
  .social-networks i {
  font-size: 135%;
  margin: 1%;
  padding: 1%;
  color: #f7f6f6;
  }
  /* ====================================== */
              /* Media queries */
/* =========================================== */

 @media screen and (max-width: 1286px) {

.descrip p{
  font-size: 13px;
 }

 .descrip ul{
  font-size: 13.5px;
  }

textarea#message{
  width: 335px;
}

select#activity, select#hability{
  width: 170px;
}

input#appt{
  width: 114px;
  }

label#interm, label#begi, label#advanc{
  padding: 2px;
  font-size: 13px;
  }

.inrbox h3{
    font-size: 15px;
      }
.inrbox span{
  font-size: 11px;
    }

 input#email1, input#name1{
  width: 130px;
 }   

label#begi, label#interm, label#advanc{
  font-size: 11px;
}

input#advance, input#intermediate, input#beginner{
width: 11.5px;
}
 
.descrip h2{
   font-size: 30px;
    margin-bottom: 15px;
  }
  
 .community span{
  color: #ad773e;
  }
  
.bconfirm h2{
  margin-top: 20px;
 }
}


@media screen and (max-width: 1224px) {
textarea#message{
width: 320px;
}
}


@media screen and (max-width: 1190px) {  

textarea#message{
   width: 300px;
  }

label#interm, label#begi, label#advanc{
  padding: 0px;
 font-size: 10px;
 }
   
 .bconfirm h2{
    margin-top: 20px;
  }

 label#habi, label#active{
    font-size: 13.5px;
  }

  select#activity, select#hability{
    width: 138px;
 }

 input#appt, input#appt1{
  width: 125px;
}


input#name1 , input#email1{
  width: 125px;
}

label#name, label#email, label#time, label#date{
font-size: 14px;
}
}



@media screen and (max-width: 1110px) {

  textarea#message{
    width: 230px;
    }

  select#hability, select#activity{
    width: 250px;
  }
  
   
  .inrbox{
  
    display:inline-table;
  }
  input#beginner, input#intermediate, input#advance{
    width: 8px;
}


.descrip h2{
  font-size: 22px;
  margin-bottom: 15px;
}

.descrip h3{
  margin-bottom: 25px;
 }

 .descrip p{
  padding: 0;
  margin: 10px;
  }

 button.reset, button.sub{
  width: 265px;
}

}


 @media screen and (max-width: 1095px) {


textarea#message{
width: 280px;
}

.descrip h2{
  font-size: 25px;
  margin-bottom: 15px;
}

.descrip h3{
  font-size: 19px;
 }
.memories h2{
font-size: 28px;
}

form{
  display:block;
  flex-direction: column;
}


.inpbox{
width: 100%;

}
input#appt, input#appt1{
  width: 180px;
}

input#name1, input#email1{
  width: 215px;
}

label#time, label#date, label#email, label#name{
  font-size: 16px;
}

label#acive, label#habi{
  font-size: 16px;
}

button.reset, button.sub{
  width: 270px;
}

  }

 @media screen and (max-width: 956px){


 .descrip ul{
  font-size: 12.5px;
  padding: 0 0 0 14px;
}


 .quote p{
 font-size: 11px;
 }

}

@media screen and (max-width: 860px) {

  .navbar{
    flex-direction: column;
    position: relative;
    }

  .navbar .branding{
   width: 100%;
  }

  .menu {
    display: block;
    position: absolute;
    right: 15px;
    top: 15px;
}
.nav-list{
  list-style-type: none;
  width: 100%;
  text-align: center;
  padding-top: 10px;
  display: block;  
}

.nav-list .nav-links{
  display: block;
  border-top: 1px solid #fff;
}


.booking{
  display:block;
  flex-direction: column;
}

.descrip, .form{
  width: 100%
  }

.descrip h2{
font-size: 27px;
    }

.descrip p{
  font-size: 14px; 
 padding-top: 10px;
    }

.descrip ul{
 font-size: 14px;
   }
    
.inrbox h3{
  font-size: 16px;
       }

 .inrbox span{ 
  font-size: 13px;
   }


select#hability, select#activity{
  width: 300px;
    }
       
    
 label#habi, label#active{
     font-size: 14px;
        }
    
label#time, label#date, label#name, label#email{
  font-size: 14px;
    }

input#name1, input#email1{
  width: 405px;
    }
    
input#appt, input#appt1{
  width: 380px;
}

button.reset button.sub{   
font-size: 12px;
width: 250px;
  }
    
.bconfirm h2{
  margin-top: 20px;
  font-size: 28px;
    }
    
input#beginner, input#intermediate, input#advance{
 width: 13px;
 padding-left: 5px;
  } 


label#begi, label#interm, label#advanc{
  font-size: 13px;
  margin-right: 5px;
}

textarea#message{
  width: 470px;
}

input#fname.input, input#email.input{
  width: 220px;
  }
}
  
 @media screen and (max-width: 767px) {
  #hero-section h1{
    font-size: 19px;
    margin-bottom: 20px;
    }
  
   a.book-btn{
    margin-left: 157px;
    font-size: 15px;
    }  
 
  .about-content h2{
    font-size: 30px;
    margin-bottom: 10px;
   }

 .about-content p{
 font-size: 14.5px;
  }

strong{
  font-size: 14.5px;
  }

.top-banner .banner{
  height: auto;
   }
    
.banner p.title{
   font-size: 12.5px;
  }    

section .banner{
  height: auto;
   }
   
.descrip h2{
font-size: 25px;
}

.descrip strong{
  font-size: 25px;
  }

.descrip p{
 font-size: 13px; 
 }


input#fname.input{
 width: 280px;
}

input#email.input{
  width: 280px;
}

label#nam, label#ema, label#mesag{
 font-size: 13.5px;
 }

button.reset button.sub{   
  padding: 15px 32px;
}

select#hability, select#activity{
  width: 190px;
}

input{
  width: 150px;
}

label#habi, label#active{
  font-size: 13.8px;
  }

label#time, label#date, label#name, label#email{
  font-size: 13.8px;
 }

.bconfirm h2{
  margin-top: 20px;
 }

}

@media screen and (max-width: 650px) {

textarea#message{
 width: 400px;
  }

  
input .inpbox {
  flex-direction: row;
 }

input .inrbox{
 flex-direction: row;
 }
 }

 @media screen and (max-width: 551px) {


.logo{
  margin-top: 10px;
  margin-left: 10px;
 }
 
#hero-section h1{
 font-size: 18px;
 text-align: center;
 }

.about .about-content{
  height: auto;
}

.about-content h2{
  font-size: 24px;

  }
.about-content p{
   font-size: 13.5px;
  }

strong{
  font-size: 13.5px;
  }

p.title{
  font-size: 13.5px;
  }
 h2.title{
  font-size: 18px;

 }

.top-banner .banner{
  height: auto;
  }

section .banner{
  height: auto;
}

.community h2{
  font-size: 25px;
}
.community p{
  font-size: 13.5px;
}

.descrip h2{
  font-size: 18px;
 }

.descrip p{
 font-size: 13.5px; 
 }

.descrip ul li{
  font-size: 12.5px; 
 }

input#name1, input#email1{
  width: 340px;
 }

input#appt, input#appt1{
 width: 290px;
 }

textarea#message{
  width: 340px;
}


input .inpbox {
  flex-direction: row;
 }

input .inrbox{
 flex-direction: row;

 }
 .inrbox label{
  font-size: 10px;
  }
.inrbox h3{
  font-size: 12px;
  }

.inrbox span{
  font-size: 10px;
 }
  
.form select {
 font-size: 10px;
 }

label{
  font-size: 12px;
}
input{
  font-size: 12px;
}

 button.sub, button.reset{       
  padding: 5px;
  font-size: 12px;
 } 

.bconfirm p{
  font-size: 12px;
}

.bconfirm h2{
 font-size: 20px;
}

.book-confirm p{
 font-size: 12px;
 padding-top: 5px;
}

.book-confirm h3{
 font-size: 14px;
 padding-top: 5px;
 }

.bringback-home{
  font-size: 10px;
  padding-top: 10px;
}

.memories h2{
 font-size: 20px;
 padding-top: 20px;
}

.copyright h3{
  font-size: 12px;
}
.copyright p{
  font-size: 10px;
}

.social-networks{
 font-size: 50%;
  }
}
@media screen and (max-width: 480px){

textarea#message{
  width: 250px;
} 
  
input#name1, input#email1{
  width: 250px;
}

input#appt, input#appt1{
 width: 250px;
 }


input#fname.input{
 width: 250px;
  }
  
input#email.input{
 width: 250px;
  }
 
  
.inrbox{
 display:inline-table;
  }

input#beginner, input#intermediate, input#advance{
    width: 7px;
}

label#interm, label#begi, label#advanc{
  padding: 0px;
  font-size: 10px;
  }
}